@charset "utf-8";
/* CSS Document Supplement
	#552448 - cab
	#eae3d4 - beige */

/* Base Styles */
body {
  background-color: #fff;
}

/* Header Styles */
.fixed-header {
	background-color: #552448;
	height: 105px;
}

.main-header .main-menu .navigation li a {
	color: white; 
}

.main-header {
  z-index: 999;
}

.header-account ul li a {
	color: white;	
}

.header-property-detail {
  	background-color: #fff;
}

/* Footer Styles */
.footer {
	background-image: none;	
	background-color: #552448;
}

.footer-cl-1 {
	color: white;
}

.footer-cl-1 span {
	color: white;
}

.footer-cl-1 span a {
	color: white;
}

/* Icon Styles */
.icon-instagram:before {
	content: "\ea92";
}

/* Info Box */
.info-box {
	padding: 10px;
}

/* Custom Checkbox Styles */
input[type=checkbox].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	width: 1px; 
	margin: -1px; 
	padding: 0;
	border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 20px;
	height: 15px; 
	display: inline-block;
	line-height: 15px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.vlad {
	background-image: url(../images/vlad.png);
}

/* Medium Checkbox Variant */
input[type=checkbox].css-checkbox.med + label.css-label.med {
	padding-left: 22px;
	height: 17px; 
	display: inline-block;
	line-height: 17px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {
	background-position: 0 -17px;
}

/* Small Checkbox Variant */
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
	padding-left: 22px;
	height: 16px; 
	display: inline-block;
	line-height: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme {
	background-position: 0 -16px;
}

/* Large Checkbox Variant */
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left: 22px;
	height: 20px; 
	display: inline-block;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg {
	background-position: 0 -20px;
}

/* Custom Checkbox Container */
.chboxcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.chboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chboxcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chboxcontainer input:checked ~ .checkmark {
  background-color: #552448;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chboxcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chboxcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Popup and Modal Styles */
.PPRCaptcha {
	display: contents;
	background: #fff;
	padding: 20px;
	border: 10px solid #552448;
	float: left;
	font-size: 1.2em;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.popup_block {
	display: none;
	background: #fff;
	padding: 20px;
	border: 20px solid #552448;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 250px;
	left: 900px;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.ContactTeamFade {	
	display: none;
	background: #fff;
	padding: 5px;
	border: 5px solid #552448;
	font-size: 1.2em;
	position: absolute;
	left: 20px;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 50%;
	margin: 0 auto;
}

img.btn_close {
	float: right;
	margin: -35px -35px 0 0;
}

/* Phone/Contact Styles */
.telph {
	text-decoration: none;
	color: #fff !important;
}

.telph:hover {
	text-decoration: underline;
	color: #fff !important;
}

.telphbutton {
	text-decoration: none;
	padding: 2px;
	color: #fff !important;
	background-color: #552448;
	text-align: center;
	margin-bottom: 5px;
	display: block;
}

.telphbutton a {
	color: white;
	text-decoration: none;
}

.telphbutton:hover {
	background-color: #EAE3D4;
	cursor: pointer;
	color: #552448 !important;
}

.telphbutton:hover a {
	color: #552448 !important;
}

/* Property and IDX Styles */
.idxBroker {
	position: relative !important;
	width: 325px !important;
	height: 375px;
}

.single-property-contact .title {
	margin-bottom: 0;
}

.single-property-contact .box-avatar {
	align-items: normal;
	min-height: 300px;
	overflow: hidden;
}

.avatar img {
	height: auto;
}

/* Form and UI Elements */
#scheduleshowing {
	display: none;
	margin-bottom: 20px;
}

#callTeamform {
	display: none;
}

/* Share Modal Styles */
#shareModal .modal-dialog {
  max-width: 300px;
}

#shareModal .modal-content {
  padding: 1rem;
}

.share-options p {
  font-weight: bold;
}

.share-options .btn {
  margin-top: 0.5rem;
}

/* Open House Styles */
.OpenHouseOverlay {
	left: 35px;
	top: 135px;
	position: absolute;
	z-index: 9999;
}

.tf-btn-openhouse {
	width: 420px;
}

/* Modal Z-Index Fix */
.modal-backdrop {
  z-index: 1040  !important;
}

.modal {
  z-index: 1050  !important;
}

#shareModal {
  z-index: 9995  !important;
}

#shareModal .modal-dialog {
  z-index: 9998  !important;
}